<header class="w-100">
  <nav class="header py-2">
    <div class="container-fluid justify-content-around align-items-center">
      <!-- <div class="w-25 d-none d-sm-block"></div> -->
      <a class="header__text" href="">free reAl estAte</a>
      <!-- <div class="w-25 d-none d-sm-block text-center"><%=time %></div> -->
    </div>
  </nav>
</header>
